# Azure pipeline
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pr: none

trigger:
  branches:
    include:
    - main
  paths:
    include:
    - 'src/'

variables:
  # Set to 'true' (e.g., via pipeline variables UI) to enable the Debug NuGet build
  BuildDebugNuGet: 'false'

stages:
- stage: nugetartifacts
  displayName: 'Build Nuget Artifacts'
  jobs:
  - template: .azurepipelines/nuget.yml
    parameters:
      upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
      config: 'Release'
  - template: .azurepipelines/nuget.yml
    parameters:
      upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
      config: 'Debug'
    condition: eq(variables['BuildDebugNuGet'], 'true')
