# Azure pipeline
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pr: none

trigger:
  branches:
    include:
    - main
  paths:
    include:
    - 'src/'

parameters:
- name: RunDebugNuGet
  type: boolean
  default: false

stages:
- stage: nugetartifacts
  displayName: 'Build Nuget Artifacts'
  jobs:
  - template: .azurepipelines/nuget.yml
    parameters:
      upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
      config: 'Release'
  - template: .azurepipelines/nuget.yml
    condition: eq(parameters.RunDebugNuGet, true)
    parameters:
      upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
      config: 'Debug'
