# Azure pipeline
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pr: none

trigger:
  branches:
    include:
    - main
  paths:
    include:
    - 'src/'

variables:
  # Set to 'true' (e.g., via pipeline variables) to enable the Debug NuGet build
  BuildDebugNuGet: 'false'

stages:
- stage: nugetpreview
  displayName: 'Push Nuget Preview'
  jobs:
  - template: .azurepipelines/nuget.yml
    parameters:
      upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
      config: 'Release'
  - template: .azurepipelines/nuget.yml
    condition: eq(variables['BuildDebugNuGet'], 'true')
    parameters:
      upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
      config: 'Debug'
