# Azure pipeline
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pr: none

trigger:
  branches:
    include:
    - main
  paths:
    include:
    - 'src/'

parameters:
- name: debugbuild
  type: boolean
  default: false
  displayName: 'Create Debug and Release Nuget packages (default: only Release)'

stages:
- stage: nugetartifacts
  displayName: 'Build Nuget Artifacts'
  jobs:
  - template: .azurepipelines/nuget.yml
    parameters:
      upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
      config: 'Release'
  - ${{ if eq(parameters.debugbuild, true) }}:
    - template: .azurepipelines/nuget.yml
      parameters:
        upload: ${{ ne(variables['Build.Reason'], 'PullRequest') }}
        config: 'Debug'
