name: Build and Test

on:
  push:
  pull_request:
    branches: [ main ]
    paths:
    - '**.cs'
    - '**.csproj'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    name: test-${{matrix.os}}-${{matrix.csproj}}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false    
      matrix:
        # Define the matrix of OS and projects, these values can be permutated
        os: [ubuntu-latest, windows-latest, macOS-latest]    
        csproj: [Threading, Memory, Cryptography]
        framework: ['net10.0']
        configuration: ['Release','Debug']
        # Default values applied to all combinations, do not permutate
        dotnet-version: ['10.0.x']
        customtesttarget: ['net10.0']
        # Default folder for most projects, add override in include section
        folder: ['./tests']
        include:
          # Override folder for Cryptography (under Security/)
          - csproj: Cryptography
            folder: './tests/Security'
    env:
      OS: ${{ matrix.os }}
      DOTNET_VERSION: ${{ matrix.dotnet-version }}
      CONFIGURATION: ${{ matrix.configuration }}
      CSPROJ: ${{ matrix.csproj }}
      CSPROJECT: "${{ matrix.folder }}/${{ matrix.csproj }}/${{ matrix.csproj }}.Tests.csproj"
      TESTRESULTS: "TestResults-${{matrix.csproj}}-${{matrix.os}}-${{matrix.framework}}-${{matrix.configuration}}"
      
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    
    - name: Setup .NET ${{ matrix.dotnet-version }}
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: ${{ matrix.dotnet-version }}

    - name: Set Cloud Version
      shell: pwsh
      run: ./.azurepipelines/set-version.ps1

    - name: Build
      run: dotnet build ${{ env.CSPROJECT }} --force --framework ${{ matrix.framework }} --configuration ${{ matrix.configuration }} /p:CustomTestTarget=${{ matrix.customtesttarget }}
      
    - name: Test
      # note: /p:CollectCoverage=true is only used to disable deterministic builds
      run: dotnet test ${{ env.CSPROJECT }} --no-build --framework ${{ matrix.framework }} --logger trx --configuration ${{ matrix.configuration }} /p:CollectCoverage=true /p:CustomTestTarget=${{ matrix.customtesttarget }} --collect:"XPlat Code Coverage" --settings ./tests/coverlet.runsettings.xml --results-directory ${{ env.TESTRESULTS }} 

    - name: Upload test results
      uses: actions/upload-artifact@v5
      with:
        name: dotnet-results-${{matrix.csproj}}-${{matrix.os}}-${{matrix.framework}}-${{matrix.configuration}}
        path: ${{ env.TESTRESULTS }}
      # Use always() to always run this step to publish test results when there are test failures
      if: ${{ always() }}

    - name: Upload to Codecov
      uses: codecov/codecov-action@v5
      with:
        name: codecov-umbrella
        token: ${{ secrets.CODECOV_TOKEN }}
        directory: ${{ env.TESTRESULTS }}
        env_vars: CSPROJ,OS,DOTNET_VERSION,CONFIGURATION
        fail_ci_if_error: false
        verbose: true      
      # Use always() to always run this step to publish test results when there are test failures
      if: ${{ always() }}
