# Your GitHub workflow for DocFX documentation deployment

name: DocFX Deployment

# Trigger the action on push to main
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
 
# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false
  
jobs:
  publish-docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Dotnet Setup
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.x
    - run: dotnet tool update -g docfx
    - run: docfx docfx/docfx.json
